---
import Layout from "../layouts/Layout.astro";
---

<Layout title={"Impressum - Perspektive Ukraine e.V."}>
  <main>
    <div class="container mx-auto">
      <p>Verantwortlich für den Inhalt dieser Seiten ist:</p>
      <address class="flex flex-col">
        <span>Perspektive Ukraine e.V.</span>
        <span>Hermannstraße 41</span>
        <span>60318 Frankfurt am Main</span>
        <a href="mailto:info@perspektive-ukraine.de"
          >info@perspektive-ukraine.de</a
        >
      </address>
      <p class="my-0">Sitz der Gesellschaft: Frankfurt am Main</p>
      <p class="my-0">Registergericht: Amtsgericht Frankfurt am Main</p>
      <p class="my-0">Registernummer: VR 16962</p>
      <p class="my-0">Vorstand: Oksana Pavliuk</p>
    </div>
  </main>
</Layout>
