---
import Layout from "../layouts/Layout.astro";
import kornfeld from "../images/kornfeld.webp";
---

<Layout title="Perspektive Ukraine e.V.">
  <main>
    <img src={kornfeld} />
    <div class="container mx-auto px-4">
      <section>
        <p>
          Perspektive Ukraine e.V. unterstützt die Menschen in der Ukraine im
          Widerstand gegen die Invasoren und im Wiederaufbau ihres Landes, für
          eine freie, starke und blühende Ukraine.
        </p>
        <p>
          Der Angriffskrieg Russlands gegen die Ukraine hat die Zerstörung der
          ukrainischen Souveranität und die Unterwerfung der Ukraine unter das
          diktatorische Regime Russlands zum Ziel. Diese Unterwerfung soll mit
          allen Mitteln erreicht werden, militärisch durch Invasion und
          Okkupation, wirtschaftlich durch die Zerstörung von Infrastruktur,
          psychologisch durch das Töten von Zivilisten, Vergewaltigung und
          Folter.
        </p>
        <p>
          Die Ukraine widersteht der Aggression mit Herz und Verstand,
          Willenskraft und Durchhaltevermögen. Dieser Widerstand ist erfolgreich
          und muss erfolgreich sein. Der Ausgang des Konflikts wird das
          Schicksal von Generationen bestimmen, nicht nur das der Ukrainer, das
          der Europäer, das der Menschen im 21. Jahrhundert. "Frag nicht, wem
          die Stunde schlägt, sie schlägt Dir."
        </p>
        <p>
          Unsere Unterstützung richtet sich an die Arbeit jener, die in der
          Ukraine geblieben oder zurückgekehrt sind, um zu schützen und zu
          helfen, zu versorgen und zu ernähren. Und um wiederaufzubauen, wo die
          Aggressoren sich zurückziehen, Schulen und Krankenhäuser, Häuser und
          Höfe, Werke und Betriebe, Straßen, Wasser und Strom.
        </p>
      </section>
      <section>
        <h2>Veranstaltungen</h2>
        <hr class="mt-5" />
        <p>...</p>
      </section>
      <section>
        <h2>Projekte</h2>
        <hr class="mt-5" />
        <h3>Humanitäre Hilfsgüter und Notfallmedizin</h3>
        <p>
          In den Kriegsgebieten mangelt es an Medikamenten, Essen und
          Trinkwasser, Kleidung und Hygieneprodukten.
        </p>

        <p>
          Verteidiger und Zivilsten sterben, weil die Versorgung mit
          Tourniquets, blutstillendem Verbandsmaterial, antibakteriellen
          Medikamenten usw. nicht hinterherkommt.
        </p>

        <p>
          Wir kaufen das, was am dringenstens benötigt wird und bringen es in
          die Kriegsgebiete. Wir organisieren den gesamten Transportweg und
          stellen sicher, dass alles am Ziel ankommt.
        </p>

        <h3>Nudelpakete für die Suppenküchen in Charkiw - Ukraine</h3>
        <p>Andrii Shorokhov hat eine kleine Nudelproduktion in Charkiw.</p>

        <p>
          Vom gespendeten Geld kaufen wir seine Nudeln und sie werden kostenlos
          u.a. an die Suppenküchen in Charkiw verteilt. Dort bekommen die
          Menschen Essen, die durch die Bombenangriffe kein Zuhause mehr haben
          oder es sich schlicht nicht mehr leisten können.
        </p>

        <p>
          Für jeden gespendeten Euro kann eine Packung Nudeln zu jemandem
          gebracht werden, der sie dringend benötigt. Um gezielt für dieses
          Projekt zu spenden, geben Sie bitte „Nudeln für Charkiw“ im
          Verwendungszweck an.
        </p>

        <h3>Kinder-Sommercamp</h3>
        <p>
          Für die Kinder muss das Leben weitergehen. Wir organisieren für sie
          Sommercamps in friedlicher Umgebung mit Lernen, Spielen und Sport.
        </p>

        <h3>Mini-Wasserkraftwerk</h3>
        <p>
          Nach offiziellen Schätzungen wird die ukrainische Wirtschaft durch den
          Krieg um 45% schrumpfen!
        </p>
        <p>
          Wir müssen die Wirtschaft stabilsieren. Wir können nicht warten, wir
          müssen damit jetzt beginnen.
        </p>
        <p>
          Wir wollen einen kleinen aber wichtigen Beitrag mit Projekten zur
          lokalen Energieversorgung leisten. Im Zentrum des Vorhabens steht der
          Bau von Mini- und Kleinstwasserkraftwerken.
        </p>
      </section>
      <section>
        <h2>Spenden</h2>
        <hr class="mt-5" />
        <p>
          Für die Durchführung unserer Projekte benötigen wir finanzielle
          Unterstützung. Wenn ihr uns mit einer Spende unterstützen möchtet,
          überweist diese bitte auf folgendes Konto:
        </p>
        <div class="flex flex-col">
          <span>Perspektive Ukraine e.V.</span>
          <span>Bank: Deutsche Skatbank</span>
          <span>IBAN: DE76 8306 5408 0005 2429 83</span>
          <span>BIC: GENODEF1SLR</span>
        </div>
        <p>
          Wir stellen gerne eine Spendenquittung aus. Schickt uns bitte hierfür
          eine E-Mail an <a
            class="underline"
            href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >
          mit den folgenden Informationen: Eurem Namen - Eurer Anschrift - Betrag
          der Spende - Datum der Überweisung.
        </p>
        <p>Herzlichen Dank!</p>
      </section>
      <section>
        <h2>Mitarbeiten</h2>
        <hr class="mt-5" />
        <p>
          Wir suchen Experten und Projektmanager, die uns in unseren Vorhaben
          unterstützen. Wenn ihr aktiv in den Projekten mitarbeiten möchtet,
          kontaktiert uns bitte unter
          <a href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >.
        </p>
        <div class="flex">
          <div>
            <h3>PR-Agent</h3>
            <p>
              Wenn Du über professionelle Erfahrungen in der Pressearbeit
              verfügst, vielleicht sogar ein Netzwerk mitbringst und mindestens
              einen halben Tag pro Woche zur Verfügung stehst, melde Dich bitte
              bei uns.
            </p>
          </div>
          <div>
            <h3>Logistik-Manager</h3>
            <p>
              Unser Verein sucht Unterstützung in der Organisation der
              Verbringung von Hilfsgütern in den Osten und Süden der Ukraine.
            </p>
          </div>
          <div>
            <h3>Experte in lokaler Energieversorgung</h3>
            <p>
              Hast Du Erfahrung in der Umsetzung von lokalen Energieprojekten
              (z.B. Mini-Wasserkraftwerke, Blockheizkraftwerke) und bist auch
              von unserer Idee begeistert, diese Technologien in der Ukraine
              umzusetzen? Werde Teil unseres Teams, das die Ukraine jetzt schon
              und in der Zukunft wiederaufbauen möchte!
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2>Neuigkeiten</h2>
        <hr class="mt-5" />
        <p>...</p>
      </section>
    </div>
  </main>
</Layout>
