---
import Layout from "../layouts/Layout.astro";
import News from '../components/News.astro';
import { Icon } from 'astro-icon'
import { Image } from '@astrojs/image/components';

import flyer from "../images/projects/charkiw_birthing_house/front.jpeg";
---

<Layout title="Perspektive Ukraine e.V.">
  <main>
   <div class="bg-[url('/kornfeld.webp')] bg-slate-600 bg-no-repeat bg-cover bg-blend-multiply h-[80vh] flex items-center justify-center">
    <div class="p-6 max-w-xl">
      <h1 class="uppercase text-3xl text-center md:text-6xl font-bold text-yellow m-0">Schaffen wir gemeinsam eine Perspektive für die Ukraine</h1>
      <div class="my-12 flex flex-col md:flex-row items-center justify-center  md:justify-between">
        <a class="inline-block uppercase my-5 bg-yellow font-bold tracking-widest text-black text-center w-44 px-3 py-2 rounded-xl" href="/projects">Projekte</a>
        <a class="inline-block uppercase my-5 bg-yellow font-bold tracking-widest text-black text-center w-44 px-3 py-2 rounded-xl" href="/events">Events</a>
      </div>
    </div>
  </div>
    <div class="container mx-auto">
      <section>
        <h2 id="mission">Mission</h2>
        <hr class="mt-5" />
        <p>
          Perspektive Ukraine e.V. unterstützt die Menschen in der Ukraine im
          Widerstand gegen die Invasoren und im Wiederaufbau ihres Landes, für
          eine freie, starke und blühende Ukraine.
        </p>
        <p>
          Der Angriffskrieg Russlands gegen die Ukraine hat die Zerstörung der
          ukrainischen Souveranität und die Unterwerfung der Ukraine unter das
          diktatorische Regime Russlands zum Ziel. Diese Unterwerfung soll mit
          allen Mitteln erreicht werden, militärisch durch Invasion und
          Okkupation, wirtschaftlich durch die Zerstörung von Infrastruktur,
          psychologisch durch das Töten von Zivilisten, Vergewaltigung und
          Folter.
        </p>
        <p>
          Die Ukraine widersteht der Aggression mit Herz und Verstand,
          Willenskraft und Durchhaltevermögen. Dieser Widerstand ist erfolgreich
          und muss erfolgreich sein. Der Ausgang des Konflikts wird das
          Schicksal von Generationen bestimmen, nicht nur das der Ukrainer, das
          der Europäer, das der Menschen im 21. Jahrhundert. "Frag nicht, wem
          die Stunde schlägt, sie schlägt Dir."
        </p>
        <p>
          Unsere Unterstützung richtet sich an die Arbeit jener, die in der
          Ukraine geblieben oder zurückgekehrt sind, um zu schützen und zu
          helfen, zu versorgen und zu ernähren. Und um wiederaufzubauen, wo die
          Aggressoren sich zurückziehen, Schulen und Krankenhäuser, Häuser und
          Höfe, Werke und Betriebe, Straßen, Wasser und Strom.
        </p>
      </section>
      <section>
        <h2 id="neuigkeiten">Neuigkeiten</h2>
        <hr class="mt-5" />
        <News>
          <h3 class="m-0 text-center">#NeueLebenRetten</h3>      
          <div class="flex justify-center">
            <Image src={flyer} alt="Charkiw Birthing House Flyer" format={"webp"} width={300} />
          </div>
          <p class="text-center">Das Geburtshaus in Charkiw wurde von einer Bombardierung vollkommen zerstört. Die wertvollen Geräte und Ausstattung sind durch Explosion unbrauchbar geworden. Unser Ziel ist - das Geburtshaus, soweit es geht, mit der notwendigen Ausstattung zu versorgen.</p>
          <p class="text-center">Da diese Art von Hilfe sehr kostspielig ist, wird es nur mit euren Unterstützung möglich sein dem Geburtshaus zu helfen.</p>
          <div class="flex justify-center items-center">
            <a href="https://paypal.me/perspektiveukraine" target="_blank">
              <Icon name="fa-brands:cc-paypal" width="55"/>
            </a>
          </div>
        </News>
      </section>
      <section>
        <h2 id="spenden">Spenden</h2>
        <hr class="mt-5" />
        <p>
          Für die Durchführung unserer Projekte benötigen wir finanzielle
          Unterstützung. Wenn ihr uns mit einer Spende unterstützen möchtet,
          überweist diese bitte auf folgendes Konto:
        </p>
        <div class="flex flex-col">
          <span>Perspektive Ukraine e.V.</span>
          <span>Bank: Deutsche Skatbank</span>
          <span>IBAN: DE76 8306 5408 0005 2429 83</span>
          <span>BIC: GENODEF1SLR</span>
        </div>
        <p> Alternativ können Sie uns auch über <a class="underline" href="https://paypal.me/perspektiveukraine" target="_blank" >PayPal </a> unterstützen.</p>
        <p>
          Wir stellen gerne eine Spendenquittung aus. Schickt uns bitte hierfür
          eine E-Mail an <a
            class="underline"
            href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >
          mit den folgenden Informationen: Eurem Namen - Eurer Anschrift - Betrag
          der Spende - Datum der Überweisung.
        </p>
        <p>Herzlichen Dank!</p>
      </section>
      <section>
        <h2 id="mitarbeiten">Mitarbeiten</h2>
        <hr class="mt-5" />
        <p>
          Wir suchen Experten und Projektmanager, die uns in unseren Vorhaben
          unterstützen. Wenn ihr aktiv in den Projekten mitarbeiten möchtet,
          kontaktiert uns bitte unter
          <a href="mailto:info@perspektive-ukraine.de"
            >info@perspektive-ukraine.de</a
          >.
        </p>
        <div class="flex flex-col md:flex-row md:gap-20">
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">PR-Agent</h3>
            <p>
              Wenn Du über professionelle Erfahrungen in der Pressearbeit
              verfügst, vielleicht sogar ein Netzwerk mitbringst und mindestens
              einen halben Tag pro Woche zur Verfügung stehst, melde Dich bitte
              bei uns.
            </p>
          </div>
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">Logistik-Manager</h3>
            <p>
              Unser Verein sucht Unterstützung in der Organisation der
              Verbringung von Hilfsgütern in den Osten und Süden der Ukraine.
            </p>
          </div>
          <div class="basis-1/3">
            <h3 class="pb-4 border-b">Experte in lokaler Energieversorgung</h3>
            <p>
              Hast Du Erfahrung in der Umsetzung von lokalen Energieprojekten (z.B. Mini-Wasserkraftwerke, Blockheizkraftwerke) und bist auch von unserer Idee begeistert, diese Technologien in der Ukraine umzusetzen? Werde Teil unseres Teams, das die Ukraine jetzt schon und in der Zukunft wiederaufbauen möchte!
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
