---
import Layout from "../layouts/Layout.astro";
import kornfeld from "../images/kornfeld.webp";
---

<Layout title="Perspektive Ukraine e.V.">
  <main>
    <img src={kornfeld} />
    <div class="container mx-auto px-4">
      <section>
        <p>
          Perspektive Ukraine e.V. unterstützt die Menschen in der Ukraine im
          Widerstand gegen die Invasoren und im Wiederaufbau ihres Landes, für
          eine freie, starke und blühende Ukraine.
        </p>
        <p>
          Der Angriffskrieg Russlands gegen die Ukraine hat die Zerstörung der
          ukrainischen Souveranität und die Unterwerfung der Ukraine unter das
          diktatorische Regime Russlands zum Ziel. Diese Unterwerfung soll mit
          allen Mitteln erreicht werden, militärisch durch Invasion und
          Okkupation, wirtschaftlich durch die Zerstörung von Infrastruktur,
          psychologisch durch das Töten von Zivilisten, Vergewaltigung und
          Folter.
        </p>
        <p>
          Die Ukraine widersteht der Aggression mit Herz und Verstand,
          Willenskraft und Durchhaltevermögen. Dieser Widerstand ist erfolgreich
          und muss erfolgreich sein. Der Ausgang des Konflikts wird das
          Schicksal von Generationen bestimmen, nicht nur das der Ukrainer, das
          der Europäer, das der Menschen im 21. Jahrhundert. "Frag nicht, wem
          die Stunde schlägt, sie schlägt Dir."
        </p>
        <p>
          Unsere Unterstützung richtet sich an die Arbeit jener, die in der
          Ukraine geblieben oder zurückgekehrt sind, um zu schützen und zu
          helfen, zu versorgen und zu ernähren. Und um wiederaufzubauen, wo die
          Aggressoren sich zurückziehen, Schulen und Krankenhäuser, Häuser und
          Höfe, Werke und Betriebe, Straßen, Wasser und Strom.
        </p>
      </section>
      <section>
        <h2>Veranstaltungen</h2>
        <hr class="mt-5" />
        <p></p>
      </section>
      <section>
        <h2>Projekte</h2>
        <hr class="mt-5" />
        <p></p>
      </section>
      <section>
        <h2>Spenden</h2>
        <hr class="mt-5" />
        <p></p>
      </section>
      <section>
        <h2>Mitarbeiten</h2>
        <hr class="mt-5" />
        <p></p>
      </section>
      <section>
        <h2>Neuigkeiten</h2>
        <hr class="mt-5" />
        <p></p>
      </section>
    </div>
  </main>
</Layout>
